{% load extend_fun %}
<!DOCTYPE html>
<html lang="en">
<head>
{% load static from staticfiles %}
<title>{% block title %} 电商平台 {% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />

{% block script %}
{% endblock %}
</head>
<body>
	<!-- header -->
	<div class="header">
		<div class="w3ls-header"><!--header-one--> 
			<div class="w3ls-header-left">
				<p><a href="#">最多折扣50美元 | 使用优惠券 </a></p>
			</div>
			<div class="w3ls-header-right">
				<ul>
                    {% block nav %}
					<li class="dropdown head-dpdn">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i> 我的账户<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'store:login' %}">登录 </a></li>
							<li><a href="{% url 'store:signup' %}">注册</a></li>
							<li><a href="#">订单</a></li>
							<li><a href="#">钱包</a></li>
						</ul> 
					</li>
                    {% endblock %}
					<li class="dropdown head-dpdn">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-percent" aria-hidden="true"></i> 今日优惠<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'store:offers' %}">现金返回优惠</a></li>
							<li><a href="{% url 'store:offers' %}">产品折扣</a></li>
							<li><a href="{% url 'store:offers' %}">特别优惠</a></li>
						</ul> 
					</li> 
					<li class="dropdown head-dpdn">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gift" aria-hidden="true"></i> 礼品卡<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'store:offers' %}">产品礼品卡</a></li>
							<li><a href="{% url 'store:offers' %}">场合注册</a></li>
							<li><a href="{% url 'store:offers' %}">查看余额</a></li>
						</ul> 
					</li> 
					<li class="dropdown head-dpdn">
						<a href="contact.html" class="dropdown-toggle"><i class="fa fa-map-marker" aria-hidden="true"></i> 关于我们</a>
					</li> 
					<li class="dropdown head-dpdn">
						<a href="{% url 'store:card' %}" class="dropdown-toggle"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> 信用卡</a>
					</li> 
					<li class="dropdown head-dpdn">
						<a href="{% url 'store:help' %}" class="dropdown-toggle"><i class="fa fa-question-circle" aria-hidden="true"></i> 帮助</a>
					</li>

				</ul>
			</div>
			<div class="clearfix"> </div> 
		</div>
		<div class="header-two"><!-- header-two -->
			<div class="container">
				<div class="header-logo">
					<h1><a href="{% url 'store:index' %}"><span>V</span>mart <i>Bazaar</i></a></h1>
					<h6>你的商店. 你的地盘.</h6>
				</div>	
				<div class="header-search">
                    {% block sosuo %}
                    <form action="#" method="post">
						<input type="search" name="Search" placeholder="Search for a Product..." required="">
						<button type="submit" class="btn btn-default" aria-label="Left Align">
							<i class="fa fa-search" aria-hidden="true"> </i>
						</button>
					</form>
                    {% endblock %}
				</div>
				<div class="header-cart"> 
					<div class="my-account">
						<a href="{% url 'store:contact' %}"><i class="fa fa-map-marker" aria-hidden="true"></i> CONTACT US</a>
					</div>
					<div class="cart">
                        <form action="#" method="post" class="last">
							<input type="hidden" name="cmd" value="_cart" />
							<input type="hidden" name="display" value="1" />
							<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
						</form>
					</div>
					<div class="clearfix"> </div> 
				</div> 
				<div class="clearfix"> </div>
			</div>		
		</div><!-- //header-two -->
		<div class="header-three"><!-- header-three -->
			<div class="container">
				<div class="menu">
					<div class="cd-dropdown-wrapper">
						<a class="cd-dropdown-trigger" href="#0">商店类别</a>
						<nav class="cd-dropdown">
							<a href="#0" class="cd-close">Close</a>
							<ul class="cd-dropdown-content">
                                <li><a href="offers.html">今日优惠</a></li>
                                {% getcategorys as asd %}
                                {% for class in asd %}
                                    <li class="has-children">
                                        <a href="#">{{ class.classname }}</a>
                                        <ul class="cd-secondary-dropdown is-hidden">
                                        <li class="see-all"><a href="{% url 'store:products' class.id %}">All Electronics</a></li>
                                            {% for class2 in class.commodity_set.all %}
                                                <li class="has-children">
											        <a href="#">{{ class2.cname }}</a>
                                                    <ul class="is-hidden">
                                                        {% for class3 in class2.moregoods_set.all %}
                                                        <li> <a href="{% url 'store:product' class3.id %}">{{ class3.mcommodity }}</a> </li>
                                                        {% endfor %}
													</ul>

                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
								<li><a href="{% url 'store:sitemap' %}">完整网站目录</a></li>
							</ul> <!-- .cd-dropdown-content -->
						</nav> <!-- .cd-dropdown -->
					</div> <!-- .cd-dropdown-wrapper -->
				</div>
				<div class="move-text">
					<div class="marquee"><a href="{% url 'store:offers' %}"> 新品特惠，多买多送.... <span>每件商品额外享受10%的折扣 </span> <span> 免费使用15天，不满意免费退换...</span></a></div>
					<script type="text/javascript" src="/static/js/jquery.marquee.min.js"></script>
					<script>
					  $('.marquee').marquee({ pauseOnHover: true });
					  //@ sourceURL=pen.js
					</script>
				</div>
			</div>
		</div>
	</div>
	<!-- //header -->
	{% block centre %}

	{% endblock %}
	<!-- footer-top -->
	<div class="w3agile-ftr-top">
		<div class="container">
			<div class="ftr-toprow">
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-truck" aria-hidden="true"></i>
					</div> 
					<div class="ftr-top-right">
						<h4>免费快递</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus justo ac </p>
					</div> 
					<div class="clearfix"> </div>
				</div> 
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-user" aria-hidden="true"></i>
					</div> 
					<div class="ftr-top-right">
						<h4>客户关怀</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus justo ac </p>
					</div> 
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
					</div> 
					<div class="ftr-top-right">
						<h4>高品质</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus justo ac </p>
					</div>
					<div class="clearfix"> </div>
				</div> 
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //footer-top -->  
	<!-- subscribe -->
	<div class="subscribe"> 
		<div class="container">
			<div class="col-md-6 social-icons w3-agile-icons">
				<h4>保持联系</h4>
				<ul>
					<li><a href="#" class="fa fa-facebook icon facebook"> </a></li>
					<li><a href="#" class="fa fa-twitter icon twitter"> </a></li>
					<li><a href="#" class="fa fa-google-plus icon googleplus"> </a></li>
					<li><a href="#" class="fa fa-dribbble icon dribbble"> </a></li>
					<li><a href="#" class="fa fa-rss icon rss"> </a></li> 
				</ul>
				<ul class="apps"> 
					<li><h4>下载我们的 app : </h4> </li>
					<li><a href="#" class="fa fa-apple"></a></li>
					<li><a href="#" class="fa fa-windows"></a></li>
					<li><a href="#" class="fa fa-android"></a></li>
				</ul>
			</div> 
			<div class="col-md-6 subscribe-right">
				<h4>注册电子邮件并获得25％的折扣！</h4>
				<form action="#" method="post"> 
					<input type="text" name="email" placeholder="Enter your Email..." required="">
					<input type="submit" value="Subscribe">
				</form>
				<div class="clearfix"> </div> 
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //subscribe --> 
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-info w3-agileits-info">
				<div class="col-md-4 address-left agileinfo">
					<div class="footer-logo header-logo">
						<h2><a href="{% url 'store:index' %}"><span>S</span>mart <i>Bazaar</i></a></h2>
						<h6>你的商店 你的地盘</h6>
					</div>
					<ul>
						<li><i class="fa fa-map-marker"></i> 圣塞巴斯蒂安，纽约市美国</li>
						<li><i class="fa fa-mobile"></i> 333 222 3333 </li>
						<li><i class="fa fa-phone"></i> +222 11 4444 </li>
						<li><i class="fa fa-envelope-o"></i> <a href="mailto:example@mail.com"> mail@example.com</a></li>
					</ul> 
				</div>
				<div class="col-md-8 address-right">
					<div class="col-md-4 footer-grids">
						<h3>公司</h3>
						<ul>
							<li><a href="{% url 'store:about' %}">关于我们</a></li>
							<li><a href="{% url 'store:markerplace' %}">市场</a></li>
							<li><a href="{% url 'store:values' %}">核心价值</a></li>
							<li><a href="{% url 'store:privacy' %}">隐私策略</a></li>
						</ul>
					</div>
					<div class="col-md-4 footer-grids">
						<h3>服务</h3>
						<ul>
							<li><a href="{% url 'store:contact' %}">联系我们</a></li>
							<li><a href="login.html">返回</a></li>

							<li><a href="{% url 'store:faq' %}">常见问题</a></li>
							<li><a href="{% url 'store:sitemap' %}">网站地图</a></li>

							<li><a href="login.html">订单状态</a></li>
						</ul> 
					</div>
					<div class="col-md-4 footer-grids">
						<h3>支付方式</h3>
						<ul>
							<li><i class="fa fa-laptop" aria-hidden="true"></i> 网上银行</li>
							<li><i class="fa fa-money" aria-hidden="true"></i> 货到付款</li>
							<li><i class="fa fa-pie-chart" aria-hidden="true"></i>EML转换</li>
							<li><i class="fa fa-gift" aria-hidden="true"></i> 电子礼卷</li>
							<li><i class="fa fa-credit-card" aria-hidden="true"></i> 借记卡/信用卡</li>
						</ul>  
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //footer -->		
	<div class="copy-right"> 
		<div class="container">
			<p>Copyright &copy; 2019.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">自我构建</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
		</div>
	</div> 
 	<!-- cart-js -->
	<script src="{% static 'js/minicart.js' %}"></script>
	<script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) {
        			items[i].set('shipping', 0);
        			items[i].set('shipping2', 0);
        		}
        	}
        });
    </script>  
	<!-- //cart-js --> 
	<!-- menu js aim -->
	<script src="{% static 'js/jquery.menu-aim.js' %}"> </script>
	<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
	<!-- //menu js aim --> 
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
</body>
</html>