{% extends 'store/block.html' %}
{% block title %} 首页 {% endblock %}
{% load static from staticfiles %}

{% block script %}
{#<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);#}
{#		function hideURLbar(){ window.scrollTo(0,1); } </script>#}
<!-- Custom Theme files -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/menu.css' %}" rel="stylesheet" type="text/css" media="all" /> <!-- menu style -->
<link href="{% static 'css/ken-burns.css' %}" rel="stylesheet" type="text/css" media="all" /> <!-- banner slider -->
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet" type="text/css" media="all"> <!-- carousel slider -->
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- js -->
<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
<!-- //js -->
<!-- web-fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
<!-- web-fonts -->
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script>
$(document).ready(function() {
	$("#owl-demo").owlCarousel({
	  autoPlay: 3000, //Set AutoPlay to 3 seconds
	  items :4,
	  itemsDesktop : [640,5],
	  itemsDesktopSmall : [480,2],
	  navigation : true

	});
});
</script>
<script src="{% static 'js/jquery-scrolltofixed-min.js' %}" type="text/javascript"></script>
<script>
    $(document).ready(function() {

        // Dock the header to the top of the window when scrolled past the banner. This is the default behaviour.

        $('.header-two').scrollToFixed();
        // previous summary up the page.

        var summaries = $('.summary');
        summaries.each(function(i) {
            var summary = $(summaries[i]);
            var next = summaries[i + 1];

            summary.scrollToFixed({
                marginTop: $('.header-two').outerHeight(true) + 10,
                zIndex: 999
            });
        });
    });
</script>
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- countdown.js -->
	<script src="{% static 'js/jquery.knob.js' %}"></script>
	<script src="{% static 'js/jquery.throttle.js' %}"></script>
	<script src="{% static 'js/jquery.classycountdown.js' %}"></script>
		<script>
			$(document).ready(function() {
				$('#countdown1').ClassyCountdown({
					end: '1388268325',
					now: '1387999995',
					labels: true,
					style: {
						element: "",
						textResponsive: .5,
						days: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#1abc9c",
								lineCap: 'round'
							},
							textCSS: 'font-weight:300; color:#fff;'
						},
						hours: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#05BEF6",
								lineCap: 'round'
							},
							textCSS: ' font-weight:300; color:#fff;'
						},
						minutes: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#8e44ad",
								lineCap: 'round'
							},
							textCSS: ' font-weight:300; color:#fff;'
						},
						seconds: {
							gauge: {
								thickness: .10,
								bgColor: "rgba(0,0,0,0)",
								fgColor: "#f39c12",
								lineCap: 'round'
							},
							textCSS: ' font-weight:300; color:#fff;'
						}

					},
					onEndCallback: function() {
						console.log("Time out!");
					}
				});
			});
		</script>
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}

{% block nav %}

        {% if username %}
         <li class="dropdown head-dpdn">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i> {{ username }}<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'store:loginout' %}">登出 </a></li>
            <li><a href="#">订单</a></li>
            <li><a href="#">钱包</a></li>
        </ul>
     </li>
        {% else  %}
     <li class="dropdown head-dpdn">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i> 我的账户<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'store:login' %}">登录 </a></li>
            <li><a href="{% url 'store:signup' %}">注册</a></li>
            <li><a href="#">订单</a></li>
            <li><a href="#">钱包</a></li>
        </ul>
     </li>
    {% endif %}
{% endblock %}

{% block centre %}
<!-- banner -->

<div class="banner">
	<div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover">
		<!-- Wrapper-for-Slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active"><!-- First-Slide -->
				<img src="{% static 'images/5.jpg' %}" alt="" class="img-responsive" />
				<div class="carousel-caption kb_caption kb_caption_right">
					<h3 data-animation="animated flipInX">专属商品立享 <span>50%</span> 折扣</h3>
					<h4 data-animation="animated flipInX">今天，也是元气满满的一天哦</h4>
				</div>
			</div>
			<div class="item"> <!-- Second-Slide -->
				<img src="{% static 'images/8.jpg' %}" alt="" class="img-responsive" />
				<div class="carousel-caption kb_caption kb_caption_right">
					<h3 data-animation="animated fadeInDown">我们拥有最新潮最新鲜的商品</h3>
					<h4 data-animation="animated fadeInUp">让你不虚此行</h4>
				</div>
			</div>

			<div class="item"><!-- Third-Slide -->
				<img src="{% static 'images/3.jpg' %}" alt="" class="img-responsive"/>
				<div class="carousel-caption kb_caption kb_caption_center">
					<h3 data-animation="animated fadeInLeft">多款商品，限时折扣</h3>
					<h4 data-animation="animated flipInX">每天都在打折，各种限时抢购</h4>
				</div>
			</div>

		</div>
		<!-- Left-Button -->
		<a class="left carousel-control kb_control_left" href="#kb" role="button" data-slide="prev">
			<span class="fa fa-angle-left kb_icons" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<!-- Right-Button -->
		<a class="right carousel-control kb_control_right" href="#kb" role="button" data-slide="next">
			<span class="fa fa-angle-right kb_icons" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<script src="{% static 'js/custom.js' %}"></script>
</div>
<!-- //banner -->
<div class="tlinks">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
<!-- welcome -->
<div class="welcome">
	<div class="container">
		<div class="welcome-info">
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<ul id="myTab" class=" nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" >
						<i class="fa fa-laptop" aria-hidden="true"></i>
						<h5>电子产品</h5>
					</a></li>
					<li role="presentation"><a href="#carl" role="tab" id="carl-tab" data-toggle="tab">
						<i class="fa fa-female" aria-hidden="true"></i>
						<h5>时尚</h5>
					</a></li>
					<li role="presentation"><a href="#james" role="tab" id="james-tab" data-toggle="tab">
						<i class="fa fa-gift" aria-hidden="true"></i>
						<h5>照片 & 礼物</h5>
					</a></li>
					<li role="presentation"><a href="#decor" role="tab" id="decor-tab" data-toggle="tab">
						<i class="fa fa-home" aria-hidden="true"></i>
						<h5>居家必备</h5>
					</a></li>
					<li role="presentation"><a href="#sports" role="tab" id="sports-tab" data-toggle="tab">
						<i class="fa fa-motorcycle" aria-hidden="true"></i>
						<h5>运动</h5>
					</a></li>
				</ul>
				<div class="clearfix"> </div>
				<h3 class="w3ls-title">店家推荐！</h3>
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
						<div class="tabcontent-grids">
							<div id="owl-demo" class="owl-carousel">

                                {% for i in goods %}

                                <div class="item">
									<div class="glry-w3agile-grids agileits" style="width: 270px;height: 300px">
                                        {% if i.discount != 1.0 %}
                                        <div class="new-tag"><h6>{% widthratio i.discount 1 100 %}% <br> Off</h6></div>
                                        {% else %}
                                        {% endif %}
										<a href="{% url 'store:single' i.id %}"><img src="/static/goodsimg/{{ i.img.url }}" alt="img"></a>
										<div class="view-caption agileits-w3layouts" style="width: 270px;height: 300px">
											<h4><a href="{% url 'store:single' i.id %}">{{ i.goodsname }}</a></h4>
											<p>{{ i.description }}</p>
											<h5>${% widthratio i.discount 1 i.price %}</h5>
											<form action="#" method="post">
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="w3ls_item" value="{{ i.goodsname }}" />
												<input type="hidden" name="amount" value="{% widthratio i.discount 1 i.price %}" />
												<button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> 添加到购物车</button>
											</form>
										</div>
									</div>
								</div>
                                {% empty %}
                                <h2>没有东西</h2>
                                {% endfor %}

							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="carl" aria-labelledby="carl-tab">
						<div class="tabcontent-grids">
							<script>
								$(document).ready(function() {
									$("#owl-demo1").owlCarousel({

									  autoPlay: 3000, //Set AutoPlay to 3 seconds

									  items :4,
									  itemsDesktop : [640,5],
									  itemsDesktopSmall : [414,4],
									  navigation : true

									});

								});
							</script>
							<div id="owl-demo1" class="owl-carousel">
                                {% if fashion %}
                                    {% for a1 in fashion %}


								<div class="item">
									<div class="glry-w3agile-grids agileits">
                                        {% if a1.discount != 1.0 %}
                                        <div class="new-tag"><h6>{% widthratio a1.discount 1 100 %}% <br> Off</h6></div>
                                        {% else %}
                                        {% endif %}

										<a href="{% url 'store:single' a1.id %}"><img src="/static/goodsimg/{{ a1.img.url }}" alt="img"></a>
										<div class="view-caption agileits-w3layouts">
											<h4><a href="{% url 'store:single' a1.id %}">{{ a1.goodsname }}</a></h4>
											<p>{{ a1.description }}</p>
											<h5>${{ a1.price }}</h5>
											<form action="#" method="post">
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="w3ls_item" value="{{ a1.goodsname }}" />
												<input type="hidden" name="amount" value="{% widthratio a1.discount 1 a1.price %}" />
												<button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> 添加到购物车</button>
											</form>
										</div>
									</div>
								</div>
                                    {% empty %}
                                        <h2>暂时没有商品推荐</h2>
                                    {% endfor %}
                                {% else %}
                                    <h3>哈哈</h3>
                                {% endif %}
{#
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="james" aria-labelledby="james-tab">
						<div class="tabcontent-grids">
							<script>
								$(document).ready(function() {
									$("#owl-demo2").owlCarousel({

									  autoPlay: 3000, //Set AutoPlay to 3 seconds

									  items :4,
									  itemsDesktop : [640,5],
									  itemsDesktopSmall : [414,4],
									  navigation : true

									});

								});
							</script>
							<div id="owl-demo2" class="owl-carousel">
                                {% if child %}
                                    {% for a2 in child %}
								<div class="item">
									<div class="glry-w3agile-grids agileits">

                                        {% if a2.discount != 1.0 %}
                                        <div class="new-tag"><h6>{% widthratio a2.discount 1 100 %}% <br> Off</h6></div>
                                        {% else %}
                                        {% endif %}


										<a href="{% url 'store:single' a2.id %}"><img src="/static/goodsimg/{{ a2.img.url }}" alt="img"></a>
										<div class="view-caption agileits-w3layouts">
											<h4><a href="{% url 'store:single' a2.id %}">{{ a2.goodsname }}</a></h4>
											<p>{{ a2.description }}</p>
											<h5>{{ a2.price }}</h5>
											<form action="#" method="post">
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="w3ls_item" value="{{ a2.goodsname }}" />
												<input type="hidden" name="amount" value="{% widthratio a2.discount 1 a2.price %}" />
												<button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> 添加到购物车</button>
											</form>
										</div>
									</div>
								</div>
                                    {% empty %}
                                        <H2>没有商品推荐</H2>
                                    {% endfor %}
                                {% else %}
                                    <h2>没有东西</h2>
                                {% endif %}


							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="decor" aria-labelledby="decor-tab">
						<div class="tabcontent-grids">
							<script>
								$(document).ready(function() {
									$("#owl-demo3").owlCarousel({

									  autoPlay: 3000, //Set AutoPlay to 3 seconds

									  items :4,
									  itemsDesktop : [640,5],
									  itemsDesktopSmall : [414,4],
									  navigation : true

									});

								});
							</script>
							<div id="owl-demo3" class="owl-carousel">
                                {% if home %}
                                    {% for a3 in home %}

								<div class="item">
									<div class="glry-w3agile-grids agileits">
										{% if a3.discount != 1.0 %}
                                        <div class="new-tag"><h6>{% widthratio a3.discount 1 100 %}% <br> Off</h6></div>
                                        {% else %}
                                        {% endif %}

										<a href="{% url 'store:single' a3.id %}"><img src="/static/goodsimg/{{ a3.img.url }}" alt="img"></a>
										<div class="view-caption agileits-w3layouts">
											<h4><a href="{% url 'store:single' a3.id %}">{{ a3.goodsname }}</a></h4>
											<p>{{ a3.description }}</p>
											<h5>${{ a3.price }}</h5>
											<form action="#" method="post">
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="w3ls_item" value="{{ a3.goodsname }}" />
												<input type="hidden" name="amount" value="{% widthratio a3.discount 1 a3.price %}" />
												<button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> 添加到购物车</button>
											</form>
										</div>
									</div>
								</div>
                                    {% empty %}
                                        <h3>没有商品推荐</h3>
                                    {% endfor %}
								{% else %}
                                    <h2>没有东西</h2>
                                {% endif %}
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="sports" aria-labelledby="sports-tab">
						<div class="tabcontent-grids">
							<script>
								$(document).ready(function() {
									$("#owl-demo4").owlCarousel({

									  autoPlay: 3000, //Set AutoPlay to 3 seconds

									  items :4,
									  itemsDesktop : [640,5],
									  itemsDesktopSmall : [414,4],
									  navigation : true

									});
								});
							</script>
							<div id="owl-demo4" class="owl-carousel">
                                {% if sport %}
                                    {% for a4 in sport %}

								<div class="item">
									<div class="glry-w3agile-grids agileits">
										{% if a4.discount != 1.0 %}
                                        <div class="new-tag"><h6>{% widthratio a4.discount 1 100 %} %<br> OFF</h6></div>
                                        {% else %}
                                        {% endif %}
										<a href="{% url 'store:single' a4.id %}"><img src="/static/goodsimg/{{ a4.img.url }}" alt="img"></a>
										<div class="view-caption agileits-w3layouts">
											<h4><a href="{% url 'store:single' a4.id %}">{{ a4.goodsname }}</a></h4>
											<p>{{ a4.description }}</p>
											<h5>${{ a4.price }}</h5>
											<form action="#" method="post">
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="w3ls_item" value="{{ a4.goodsname }}"/>
												<input type="hidden" name="amount" value="{% widthratio a4.discount 1 a4.price %}" />
												<button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> 添加到购物车</button>
											</form>
										</div>
									</div>
								</div>
                                    {% empty %}
                                        <h3>没有推荐</h3>
                                    {% endfor %}
                                {% else %}
                                    <h2>没有东西</h2>
                                {% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //welcome -->
<!-- add-products -->
<div class="add-products">
	<div class="container">
		<div class="add-products-row">
			<div class="w3ls-add-grids">
				<a href="{% url 'store:products' 1 %}">
					<h4>排名前10的商品 <span>20%</span> 立减</h4>
					<h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
				</a>
			</div>
			<div class="w3ls-add-grids w3ls-add-grids-mdl">
				<a href="{% url 'store:products' 2 %}">
					<h4>SUNDAY SPECIAL DISCOUNT FLAT <span>40%</span> OFF</h4>
					<h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
				</a>
			</div>
			<div class="w3ls-add-grids w3ls-add-grids-mdl1">
				<a href="{% url 'store:products' 3 %}">
					<h4>LATEST DESIGNS FOR YOU <span> Hurry !</span></h4>
					<h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
				</a>
			</div>
			<div class="clerfix"> </div>
		</div>
	</div>
</div>
<!-- //add-products -->
<!-- coming soon -->
<div class="soon">
	<div class="container">
		<h3>Mega Deal Of the Week</h3>
		<h4>Coming Soon Don't Miss Out</h4>
		<div id="countdown1" class="ClassyCountdownDemo"></div>
	</div>
</div>
<!-- //coming soon -->
<!-- deals -->
<div class="deals">
	<div class="container">
		<h3 class="w3ls-title">每日交易 </h3>
		<div class="deals-row">
			<div class="col-md-3 focus-grid">
				<a href="{% url 'store:product' 1 %}" class="wthree-btn">
					<div class="focus-image"><i class="fa fa-mobile"></i></div>
					<h4 class="clrchg">智能手机</h4>
				</a>
			</div>
			<div class="col-md-3 focus-grid">
				<a href="{% url 'store:products' 1 %}" class="wthree-btn wthree1">
					<div class="focus-image"><i class="fa fa-laptop"></i></div>
					<h4 class="clrchg"> 电子产品</h4>
				</a>
			</div>
			<div class="col-md-3 focus-grid">
				<a href="{% url 'store:product' 119 %}" class="wthree-btn wthree2">
					<div class="focus-image"><i class="fa fa-wheelchair"></i></div>
					<h4 class="clrchg">健康检测</h4>
				</a>
			</div>
			<div class="col-md-3 focus-grid">
				<a href="{% url 'store:products' 4 %}" class="wthree-btn wthree3">
					<div class="focus-image"><i class="fa fa-home"></i></div>
					<h4 class="clrchg">家具装饰</h4>
				</a>
			</div>
			<div class="col-md-2 focus-grid w3focus-grid-mdl">
				<a href="{% url 'store:products' 10 %}" class="wthree-btn wthree3">
					<div class="focus-image"><i class="fa fa-book"></i></div>
					<h4 class="clrchg">书籍音乐</h4>
				</a>
			</div>
			<div class="col-md-2 focus-grid w3focus-grid-mdl">
				<a href="{% url 'store:products' 2 %}" class="wthree-btn wthree4">
					<div class="focus-image"><i class="fa fa-asterisk"></i></div>
					<h4 class="clrchg">时尚</h4>
				</a>
			</div>
			<div class="col-md-2 focus-grid w3focus-grid-mdl">
				<a href="{% url 'store:product' 82 %}" class="wthree-btn wthree2">
					<div class="focus-image"><i class="fa fa-gamepad"></i></div>
					<h4 class="clrchg">游戏</h4>
				</a>
			</div>
			<div class="col-md-2 focus-grid w3focus-grid-mdl">
				<a href="{% url 'store:products' 6 %}" class="wthree-btn wthree">
					<div class="focus-image"><i class="fa fa-shopping-basket"></i></div>
					<h4 class="clrchg">食品杂货</h4>
				</a>
			</div>
			<div class="col-md-2 focus-grid w3focus-grid-mdl">
				<a href="{% url 'store:products' 8 %}" class="wthree-btn wthree5">
					<div class="focus-image"><i class="fa fa-medkit"></i></div>
					<h4 class="clrchg">健康</h4>
				</a>
			</div>
			<div class="col-md-2 focus-grid w3focus-grid-mdl">
				<a href="{% url 'store:products' 9 %}" class="wthree-btn wthree1">
					<div class="focus-image"><i class="fa fa-car"></i></div>
					<h4 class="clrchg">汽车</h4>
				</a>
			</div>
			<div class="col-md-3 focus-grid">
				<a href="{% url 'store:product' 86 %}" class="wthree-btn wthree2">
					<div class="focus-image"><i class="fa fa-cutlery"></i></div>
					<h4 class="clrchg">厨房用具</h4>
				</a>
			</div>
			<div class="col-md-3 focus-grid">
				<a href="{% url 'store:product' 111 %}" class="wthree-btn wthree5">
					<div class="focus-image"><i class="fa fa-futbol-o"></i></div>
					<h4 class="clrchg">体育</h4>
				</a>
			</div>
			<div class="col-md-3 focus-grid">
				<a href="{% url 'store:product' 78 %}" class="wthree-btn wthree3">
					<div class="focus-image"><i class="fa fa-gamepad"></i></div>
					<h4 class="clrchg">游戏和玩具</h4>
				</a>
			</div>
			<div class="col-md-3 focus-grid">
				<a href="{% url 'store:products' 7 %}" class="wthree-btn ">
					<div class="focus-image"><i class="fa fa-gift"></i></div>
					<h4 class="clrchg">礼物</h4>
				</a>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //deals -->
{% endblock %}


{% block sosuo %}


    <form action="{% url 'store:index' %}" method="post">
        {% csrf_token %}
        <input type="search" name="Search" placeholder="{{ a }}" required="">
        <button type="submit" class="btn btn-default" aria-label="Left Align">
            <i class="fa fa-search" aria-hidden="true"> </i>
        </button>
    </form>
    <ul id="lilili" class="qqq">

    </ul>

    <script>
        $(function () {


            $("#searcher").keyup(function () {
                $("li").remove("#biubiubiu");
                $.ajax({
                    url:"/store/search/",
                    type:"post",
                    data:{
                        "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val(),"content":$("#searcher").val()
                    },
                    success:function (data) {
                        datas = JSON.parse(data);
                        let a = 10;
                        for(let i in datas){

                            $("#lilili").append("<li id='biubiubiu' style='list-style:none;'><a style='position: absolute;color:red;font-size:18px;margin-top:"+a+"px;' href='/store/single/"+datas[i].pk+"/'>"+datas[i].fields.goodsname+"</a></li>");
                            a+=20
                        }

                    }
                })
            })
        })

    </script>


{% endblock %}
