{% extends 'store/about.html' %}

{% block centre %}
  <!-- services-page -->
	<div class="w3l-services">
		<div class="container">
			<h3 class="w3ls-title w3ls-title1">Marketplace</h3>
			<div class="services-row">
				<div class="col-md-3 services-grids">
					<i class="fa fa-line-chart" aria-hidden="true"></i>
					<h4>Best Performance</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias</p>
				</div>
				<div class="col-md-3 services-grids">
					<i class="fa fa-user-plus" aria-hidden="true"></i>
					<h4>Expand audience</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias</p>
				</div>
				<div class="col-md-3 services-grids">
					<i class="fa fa-lock" aria-hidden="true"></i>
					<h4>Relay on our Safety</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias</p>
				</div>
				<div class="col-md-3 services-grids">
					<i class="fa fa-bar-chart" aria-hidden="true"></i>
					<h4>business partner</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias</p>
				</div>
				<div class="col-md-3 services-grids services-grids-btm">
					<i class="fa fa-check-square-o" aria-hidden="true"></i>
					<h4>Good quality</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias</p>
				</div>
				<div class="col-md-3 services-grids services-grids-btm">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i>
					<h4>Fulfill Orders</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias</p>
				</div>
				<div class="col-md-3 services-grids services-grids-btm">
					<i class="fa fa-comments" aria-hidden="true"></i>
					<h4>User Requirements</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias</p>
				</div>
				<div class="col-md-3 services-grids services-grids-btm">
					<i class="fa fa-cc-visa" aria-hidden="true"></i>
					<h4>Easy Transactions</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //services-page -->
{% endblock %}