{% extends 'store/block.html' %}
{% block title %} 优惠界面 {% endblock %}
{% load static from staticfiles %}
{% block script %}
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet" type="text/css" media="all" /><!-- animation -->
<link href="{% static 'css/menu.css' %}" rel="stylesheet" type="text/css" media="all" /> <!-- menu style -->
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- js -->
<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'js/jquery-scrolltofixed-min.js' %}" type="text/javascript"></script><!-- fixed nav js -->
<script>
    $(document).ready(function() {

        // Dock the header to the top of the window when scrolled past the banner. This is the default behaviour.

        $('.header-two').scrollToFixed();
        // previous summary up the page.

        var summaries = $('.summary');
        summaries.each(function(i) {
            var summary = $(summaries[i]);
            var next = summaries[i + 1];

            summary.scrollToFixed({
                marginTop: $('.header-two').outerHeight(true) + 10,
                zIndex: 999
            });
        });
    });
</script>
<!-- //js -->
<!-- web-fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
<!-- web-fonts -->
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
<script src="{% static 'js/bootstrap.js' %}"></script>
	<!-- //smooth-scrolling-of-move-up -->
{% endblock %}

{% block centre %}
<!-- offers-page -->
	<div class="wthree-offers">
		<div class="container">
			<h3 class="w3ls-title w3ls-title1">Today's Offers & Gift Cards </h3>
			<div class="w3ls-add-grids w3agile-add-products">
				<a href="#">
					<h4>TOP 10 TRENDS FOR YOU FLAT <span>20%</span> OFF</h4>
					<h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
				</a>
			</div>
			<div class="offer-card-row">
				<div class="col-md-4 offer-card-grids">
					<h4>20% Cashback </h4>
					<p>Shop Using Gift Cards Get 20% Cashback</p>
					<a href="products.html">Shop Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
				</div>
				<div class="col-md-4 offer-card-grids">
					<h4>Earn $20</h4>
					<p>Refer a friend and earn $20 in Smart bazaar!</p>
					<a href="products.html">Shop Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
				</div>
				<div class="col-md-4 offer-card-grids">
					<h4>10% Cashback </h4>
					<p>Shop Using Credit Card Get 10% Cashback </p>
					<a href="products.html">Shop Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="offer-bottom">
				<div class="col-md-6 offer-bottom-grids">
					<div class="offer-bottom-grids-info2">
						<h4>Special Gift Cards</h4>
						<h6>More brands, more ways to shop. <br> Check out these ideal gifts!</h6>
					</div>
				</div>
				<div class="col-md-6 offer-bottom-grids">
					<div class="offer-bottom-grids-info">
						<h4>Flat $10 Discount</h4>
						<h6>The best Shopping Offer <br> On Fashion Store</h6>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //login-page -->
{% endblock %}