{% extends 'store/index.html' %}
{% block title %} 网站地图 {% endblock %}
{% load static from staticfiles %}
{% block script %}
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet" type="text/css" media="all" /><!-- animation -->
<link href="{% static 'css/menu.css' %}" rel="stylesheet" type="text/css" media="all" /> <!-- menu style -->
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- js -->
<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
<!-- //js -->
<!-- web-fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
<!-- web-fonts -->
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
<script src="{% static 'js/bootstrap.js' %}"></script>
	<!-- //smooth-scrolling-of-move-up -->
{% endblock %}



{% block centre %}
<!-- site map -->
	<div class="sitemap">
		<div class="container">
			<h3 class="w3ls-title w3ls-title1">Our Sitemap</h3>
			<div class="sitemap-row">
				<nav class="sitemap-tabs" data-spy="affix" data-offset-top="400">
					<div  id="myNavbar">
						<ul>
							<li><a href="#w3sec1"><i class="fa fa-mobile"></i> 电子产品</a></li>
							<li><a href="#w3sec2"><i class="fa fa-slideshare"></i>时装商店</a></li>
							<li><a href="#w3sec3"><i class="fa fa-child"></i> 儿童时装及玩具</a></li>
							<li><a href="#w3sec4"><i class="fa fa-home"></i> 家居，家具和庭院</a></li>
							<li><a href="#w3sec5"><i class="fa fa-futbol-o"></i>运动，健身和户外</a></li>
							<li><a href="#w3sec6"><i class="fa fa-shopping-basket"></i> 杂货店</a></li>
							<li><a href="#w3sec7"><i class="fa fa-gift"></i> 照片，礼品和办公用品</a></li>
							<li><a href="#w3sec8"><i class="fa fa-medkit"></i> 健康，美容和药房</a></li>
							<li><a href="#w3sec9"><i class="fa fa-car"></i> 汽车</a></li>
							<li><a href="#w3sec10"><i class="fa fa-book"></i> 书籍，音乐和电影</a></li>
						</ul>
					</div>
				</nav>


                {% for q in big %}
				<div id="w3sec{{ q.id }}" class="container-fluid sitemap-text">
					<h3 class="w3sitemap-title"><i class="fa fa-mobile"></i> {{ q.classname }}</h3>
                {% for i in q.commodity_set.all %}
                        <div class="col-md-3 sitemap-text-grids">
                            <h5 class="sitemap-text-title"><a href="products.html">{{ i.cname }}</a></h5>
                            <ul>
                                {% for i2 in i.moregoods_set.all %}
                                <li><a href="products.html">{{ i2.mcommodity }}</a></li>
                                    {% empty %}
                                    <h2>没有东西</h2>
                                {% endfor %}
                            </ul>
                        </div>
                {% empty %}
                                <h1>没有东西</h1>
                {% endfor %}




				</div>
                {% empty %}
                <h2>没有东西</h2>
                {% endfor %}
			</div>
			<script>
			$(document).ready(function(){
			  // Add scrollspy to <body>
			  $('body').scrollspy({target: ".sitemap-tabs", offset: 50});

			  // Add smooth scrolling on all links inside the navbar
			  $("#myNavbar a").on('click', function(event) {
				// Make sure this.hash has a value before overriding default behaviour
				if (this.hash !== "") {
				  // Prevent default anchor click behaviour
				  event.preventDefault();

				  // Store hash
				  var hash = this.hash;

				  // Using jQuery's animate() method to add smooth page scroll
				  // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
				  $('html, body').animate({
					scrollTop: $(hash).offset().top
				  }, 800, function(){

					// Add hash (#) to URL when done scrolling (default click behaviour)
					window.location.hash = hash;
				  });
				}  // End if
			  });
			});
			</script>
			<div class="sitemap-row2  sitemap-text">
				<h3 class="w3sitemap-title"><i class="fa fa-gears"></i>Smart Bazaar Services</h3>
				<div class="col-md-4 sitemap-text-grids">
					<ul>
						<li><a href="{% url 'store:markerplace' %}">Marketplace</a></li>
						<li><a href="{% url 'store:values' %}">Core Values</a></li>
						<li><a href="privacy.html">Privacy Policy</a></li>
					</ul>
				</div>
				<div class="col-md-4 sitemap-text-grids">
					<ul>
						<li><a href="{% url 'store:about' %}">About Us</a></li>
						<li><a href="{% url 'store:contact' %}">Contact Us</a></li>
						<li><a href="{% url 'store:login' %}">Login</a></li>
					</ul>
				</div>
				<div class="col-md-4 sitemap-text-grids">
					<ul>
						<li><a href="{% url 'store:signup' %}">Sign Up</a></li>
						<li><a href="{% url 'store:login' %}">Order Status</a></li>
						<li><a href="{% url 'store:faq' %}">FAQ</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //site map -->
{% endblock %}